<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="">
  <!-- Static (visual-only) representation of the Robotiq 2F-85 gripper assembly.
       Designed to mirror the helper links created by inject_gripper_visuals so that the
       generated URDF already contains the adapter stack and decorative meshes. -->

  <xacro:macro name="swiftik_left_static_robotiq" params="parent">
  <!-- Force-Torque adapter block -->
  <link name="left_gripper_visual_ft">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/alpha_left_arm/meshes/left_hand_FT_angled_plastic_link.STL"
              scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <joint name="left_gripper_visual_ft_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="${parent}"/>
    <child link="left_gripper_visual_ft"/>
  </joint>

  <!-- Palm pad -->
  <link name="left_gripper_visual_pad">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/alpha_left_arm/meshes/left_hand_pad_link.STL"/>
      </geometry>
    </visual>
  </link>
  <joint name="left_gripper_visual_pad_joint" type="fixed">
    <origin xyz="-0.01267 0 0.02716" rpy="-0.4363 0 1.5708"/>
    <parent link="left_gripper_visual_ft"/>
    <child link="left_gripper_visual_pad"/>
  </joint>

  <!-- Gripper frame used for IK -->
  <link name="left_gripper_frame"/>
  <joint name="left_gripper_frame_joint" type="fixed">
    <origin xyz="0 0 0.03" rpy="0 0 0"/>
    <parent link="left_gripper_visual_pad"/>
    <child link="left_gripper_frame"/>
  </joint>

  <!-- Robotiq main body -->
  <link name="left_gripper_visual_base">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/robotiq_base.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="left_gripper_visual_base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 3.1416"/>
    <parent link="left_gripper_frame"/>
    <child link="left_gripper_visual_base"/>
  </joint>

  <!-- Adapter plate -->
  <link name="left_gripper_visual_adapter">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/ur_to_robotiq_adapter.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="left_gripper_visual_adapter_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="left_gripper_visual_base"/>
    <child link="left_gripper_visual_adapter"/>
  </joint>

  <!-- Outer knuckles -->
  <link name="left_gripper_visual_knuckle_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/left_knuckle.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="left_gripper_visual_knuckle_left_joint" type="fixed">
    <origin xyz="0.03060114 0 0.05490452" rpy="0 0 0"/>
    <parent link="left_gripper_visual_base"/>
    <child link="left_gripper_visual_knuckle_left"/>
  </joint>

  <link name="left_gripper_visual_knuckle_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/right_knuckle.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="left_gripper_visual_knuckle_right_joint" type="fixed">
    <origin xyz="-0.03060114 0 0.05490452" rpy="0 0 0"/>
    <parent link="left_gripper_visual_base"/>
    <child link="left_gripper_visual_knuckle_right"/>
  </joint>

  <!-- Fingers -->
  <link name="left_gripper_visual_finger_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/left_finger.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="left_gripper_visual_finger_left_joint" type="fixed">
    <origin xyz="0.062127 0 0.051141" rpy="0 0 0"/>
    <parent link="left_gripper_visual_base"/>
    <child link="left_gripper_visual_finger_left"/>
  </joint>

  <link name="left_gripper_visual_finger_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/right_finger.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="left_gripper_visual_finger_right_joint" type="fixed">
    <origin xyz="-0.062127 0 0.051141" rpy="0 0 0"/>
    <parent link="left_gripper_visual_base"/>
    <child link="left_gripper_visual_finger_right"/>
  </joint>

  <!-- Inner knuckles -->
  <link name="left_gripper_visual_inner_knuckle_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/left_inner_knuckle.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="left_gripper_visual_inner_knuckle_left_joint" type="fixed">
    <origin xyz="0.0127 0 0.06142" rpy="0 0 0"/>
    <parent link="left_gripper_visual_base"/>
    <child link="left_gripper_visual_inner_knuckle_left"/>
  </joint>

  <link name="left_gripper_visual_inner_knuckle_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/right_inner_knuckle.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="left_gripper_visual_inner_knuckle_right_joint" type="fixed">
    <origin xyz="-0.0127 0 0.06142" rpy="0 0 0"/>
    <parent link="left_gripper_visual_base"/>
    <child link="left_gripper_visual_inner_knuckle_right"/>
  </joint>

  <!-- Finger frame for IK usages -->
  <link name="left_finger_frame"/>
  <joint name="left_finger_frame_joint" type="fixed">
    <origin xyz="0 0 0.14" rpy="0 0 3.1416"/>
    <parent link="left_gripper_frame"/>
    <child link="left_finger_frame"/>
  </joint>

  <!-- Finger tips (alpha-specific STL meshes) -->
  <link name="left_gripper_visual_finger_tip_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/alpha_left_finger_tip.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="">
        <color rgba="0.0 0.0 0.0 1" />
      </material>
    </visual>
  </link>
  <joint name="left_gripper_visual_finger_tip_left_joint" type="fixed">
    <origin xyz="0.00563134 0 0.04718515" rpy="0 0 0"/>
    <parent link="left_gripper_visual_finger_left"/>
    <child link="left_gripper_visual_finger_tip_left"/>
  </joint>

  <link name="left_gripper_visual_finger_tip_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/alpha_right_finger_tip.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="">
        <color rgba="0.0 0.0 0.0 1" />
      </material>
    </visual>
  </link>
  <joint name="left_gripper_visual_finger_tip_right_joint" type="fixed">
    <origin xyz="-0.00563134 0 0.04718515" rpy="0 0 0"/>
    <parent link="left_gripper_visual_finger_right"/>
    <child link="left_gripper_visual_finger_tip_right"/>
  </joint>
  </xacro:macro>

  <xacro:macro name="swiftik_right_static_robotiq" params="parent">
  <link name="right_gripper_visual_ft">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/alpha_right_arm/meshes/right_hand_FT_angled_plastic_link.STL"
              scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <joint name="right_gripper_visual_ft_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="${parent}"/>
    <child link="right_gripper_visual_ft"/>
  </joint>

  <link name="right_gripper_visual_pad">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/alpha_right_arm/meshes/right_hand_pad_link.STL"/>
      </geometry>
    </visual>
  </link>
  <joint name="right_gripper_visual_pad_joint" type="fixed">
    <origin xyz="-0.01267 0 0.02716" rpy="0.4363 0 -1.5708"/>
    <parent link="right_gripper_visual_ft"/>
    <child link="right_gripper_visual_pad"/>
  </joint>

  <link name="right_gripper_frame"/>
  <joint name="right_gripper_frame_joint" type="fixed">
    <origin xyz="0 0 0.03" rpy="0 0 0"/>
    <parent link="right_gripper_visual_pad"/>
    <child link="right_gripper_frame"/>
  </joint>

  <link name="right_gripper_visual_base">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/robotiq_base.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="right_gripper_visual_base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="right_gripper_frame"/>
    <child link="right_gripper_visual_base"/>
  </joint>

  <link name="right_gripper_visual_adapter">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/ur_to_robotiq_adapter.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="right_gripper_visual_adapter_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="right_gripper_visual_base"/>
    <child link="right_gripper_visual_adapter"/>
  </joint>

  <link name="right_gripper_visual_knuckle_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/left_knuckle.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="right_gripper_visual_knuckle_left_joint" type="fixed">
    <origin xyz="0.03060114 0 0.05490452" rpy="0 0 0"/>
    <parent link="right_gripper_visual_base"/>
    <child link="right_gripper_visual_knuckle_left"/>
  </joint>

  <link name="right_gripper_visual_knuckle_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/right_knuckle.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="right_gripper_visual_knuckle_right_joint" type="fixed">
    <origin xyz="-0.03060114 0 0.05490452" rpy="0 0 0"/>
    <parent link="right_gripper_visual_base"/>
    <child link="right_gripper_visual_knuckle_right"/>
  </joint>

  <link name="right_gripper_visual_finger_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/left_finger.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="right_gripper_visual_finger_left_joint" type="fixed">
    <origin xyz="0.062127 0 0.051141" rpy="0 0 0"/>
    <parent link="right_gripper_visual_base"/>
    <child link="right_gripper_visual_finger_left"/>
  </joint>

  <link name="right_gripper_visual_finger_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/right_finger.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="right_gripper_visual_finger_right_joint" type="fixed">
    <origin xyz="-0.062127 0 0.051141" rpy="0 0 0"/>
    <parent link="right_gripper_visual_base"/>
    <child link="right_gripper_visual_finger_right"/>
  </joint>

  <link name="right_gripper_visual_inner_knuckle_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/left_inner_knuckle.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="right_gripper_visual_inner_knuckle_left_joint" type="fixed">
    <origin xyz="0.0127 0 0.06142" rpy="0 0 0"/>
    <parent link="right_gripper_visual_base"/>
    <child link="right_gripper_visual_inner_knuckle_left"/>
  </joint>

  <link name="right_gripper_visual_inner_knuckle_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/right_inner_knuckle.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="right_gripper_visual_inner_knuckle_right_joint" type="fixed">
    <origin xyz="-0.0127 0 0.06142" rpy="0 0 0"/>
    <parent link="right_gripper_visual_base"/>
    <child link="right_gripper_visual_inner_knuckle_right"/>
  </joint>

  <link name="right_finger_frame"/>
  <joint name="right_finger_frame_joint" type="fixed">
    <origin xyz="0 0 0.14" rpy="0 0 0"/>
    <parent link="right_gripper_frame"/>
    <child link="right_finger_frame"/>
  </joint>

  <!-- Finger tips (alpha-specific STL meshes) -->
  <link name="right_gripper_visual_finger_tip_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/alpha_left_finger_tip.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="">
        <color rgba="0.0 0.0 0.0 1" />
      </material>
    </visual>
  </link>
  <joint name="right_gripper_visual_finger_tip_left_joint" type="fixed">
    <origin xyz="0.00563134 0 0.04718515" rpy="0 0 0"/>
    <parent link="right_gripper_visual_finger_left"/>
    <child link="right_gripper_visual_finger_tip_left"/>
  </joint>

  <link name="right_gripper_visual_finger_tip_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://alpha_description/robotiq_gripper/meshes/visual/2f_85/alpha_right_finger_tip.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="">
        <color rgba="0.0 0.0 0.0 1" />
      </material>
    </visual>
  </link>
  <joint name="right_gripper_visual_finger_tip_right_joint" type="fixed">
    <origin xyz="-0.00563134 0 0.04718515" rpy="0 0 0"/>
    <parent link="right_gripper_visual_finger_right"/>
    <child link="right_gripper_visual_finger_tip_right"/>
  </joint>
  </xacro:macro>
</robot>
